body {
    background-image: url('watercolor-light-steel-blue-wallpaper-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(111, 125, 170);

    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    color: rgb(196, 224, 249);
    z-index: 1000;
    height: 100%;
    overflow-y: hidden;

}

   
input[type="text"], input[type="password"], input[type="email"] {
    -webkit-appearance: none;
    box-shadow: none !important;
}


#aSection {
    background-color: rgb(105, 121, 170);
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 1vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    z-index: 10000;


}



#aSection a {
    font-size: 18px;
    color: rgb(196, 224, 249);
    margin-inline: 10px;

    text-decoration: none;


    transition: 0.3s ease-in-out;

    transition: 0.2s ease-in-out;
}


#aSection a:hover {
    color: rgb(161, 203, 245);

}


#aSection #logo {

    position: absolute;
    left: 10px;
    color: aquamarine;

}

