#profileDiv {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

  

#profileDiv h2 {
    margin: 15px;
    /* transform: translateY(-15px); */

    font-size: 35px;
    text-align: center;
}

#profileSection{
    /* background-color: transparent; */
    height: 500px;
    width: 450px;
    /* margin-top: 50px; */
    /* background: transparent; */
    background-color: rgb(106, 120, 165, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    border: 1.5px solid rgba(227, 227, 227, 0.1) ;
    backdrop-filter: blur(20px);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    /* margin: 10px; */
    
}

#userInfo {
    /* background-color: aquamarine; */
    /* margin-top: 40px; */
    width: 80%;
    height: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

}

#userInfo img {
    height: 50%;
    width: 50%;
}

#btns {

}
#userInfo button {
    background-color: #6473a6; 
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    margin-inline: 10px;


}

#userInfo button:hover {
    background-color: #355bbd; 
}


