#tagsDiv {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}


#tagsDiv h2 {
    margin: 15px;
    /* transform: translateY(-15px); */

    font-size: 35px;
    text-align: center;
}

#tagsSection{
    /* background-color: transparent; */
    height: 85vh;
    width: 450px;
    margin-top: 50px;
    /* background: transparent; */
    background-color: rgb(106, 120, 165, 0.5);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    border: 1.5px solid rgba(227, 227, 227, 0.1) ;
    backdrop-filter: blur(20px);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    /* margin: 10px; */
    position: relative;

    
}

#tags{
    width: 80%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
    margin-bottom: 80px;
}
#tags ul {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
#tags li, a {
    font-size: 20px;
    color: rgb(161, 245, 230);
    text-decoration:none; 
    cursor: pointer;

    transition: 0.2s ease-in-out;
}


#tags a:hover {
    color: rgb(161, 203, 245);

}
#tagsSection button{
    background-color: #6473a6; 
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    position: absolute;
    bottom: 15px;
    
}



#tagsSection button:hover {
    background-color: #355bbd; 
}