<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css" >
    <link rel="stylesheet" href="/static/newuser.css">
    <link rel="stylesheet" href="/static/users.css">
    <link rel="stylesheet" href="/static/profile.css">
    <link rel="stylesheet" href="/static/edit.css">
    <link rel="stylesheet" href="/static/post.css">
    <link rel="stylesheet" href="/static/makepost.css">
    <link rel="stylesheet" href="/static/editPost.css">

    <link rel="stylesheet" href="/static/home.css">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>{% block title %} {% endblock %}</title>
</head> 
<body>
    <section id="aSection">
        <a id="logo"  href="/">Blogly</a>
        <a href="/">home</a>
        <a href="/newuser">new user</a>
        <a href="/users">users</a>
        <a href="/tags">tags</a>


    </section>



    {% block content %}

    {% endblock %}

      <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    
</body>


</html>