{% extends 'base.html' %}

{% block title %}
edit post
{% endblock %}

{% block content %}
<!-- content here -->


<div id="editPostDiv">

    <div id="editForm">
        <h2>Edit Post</h2>

        <form autocomplete="off" action="/posts/{{post.id}}/edit/post" method="POST">
            <p>Post title: <b>{{post.title}}</b></p>

            <button type="button" id="toggleTagsButton">Tags</button>
            <div class="tagSelector hidden">
                {% for tag in tags %}
                <div class="tagWhole">
                  <input class="tagCheckBox"
                         type="checkbox"
                         value="{{ tag.id }}"
                         id="tag_{{ tag.id }}"
                         name="tags"
                         {% if tag in post.tags %}checked{% endif %}>
                  <label class="tagLabel" for="tag_{{ tag.id }}">
                    {{ tag.name }}
                  </label>
                </div>
                {% endfor %}
              </div>

            <div id="formEl">
                <label for="title">Edit Title</label>
                <input name="title" id = "title" type="text" placeholder="enter title"> 

                <label for="content"> Edit Content</label>
                <textarea id="content" name="content" placeholder="Enter your text here..."></textarea>
            </div>

            

            <button id="changeBtn">change</button>
           

        </form>

    </div>



</div>



<script>
    document.getElementById('toggleTagsButton').addEventListener('click', function() {
        var tagSelector = document.querySelector('.tagSelector');
        tagSelector.classList.toggle('hidden');
    });
</script>



{% endblock %}