{% extends 'base.html' %}

{% block title %}
new post
{% endblock %}

{% block content %}
<!-- content here -->



<div id="newPostDiv">

    <div id="postForm">
        <h2>Make New Post</h2>

        <form id="formEl" autocomplete="off" action="/users/{{user.id}}/post/new" method="POST">
            <p>User: <b>{{user.get_name()}}</b></p>
            <button type="button" id="toggleTagsButton">Tags</button>
            <div class="tagSelector hidden">
                {% for tag in tags %}
                <div class="tagWhole">
                  <input class="tagCheckBox"
                         type="checkbox"
                         value="{{ tag.id }}"
                         id="tag_{{ tag.id }}"
                         name="tags">
                  <label class="tagLabel" for="tag_{{ tag.id }}">
                    {{ tag.name }}
                  </label>
                </div>
                {% endfor %}
              </div>

            <label for="title">Title</label>
            <input name="title" id = "title" type="text" placeholder="enter title"> 

            <label for="content"> Post Content</label>
            <textarea id="content" name="content" placeholder="Enter your text here..."></textarea>


            

            <button>create</button>
           

        </form>

    </div>



</div>
<script>
    document.getElementById('toggleTagsButton').addEventListener('click', function() {
        var tagSelector = document.querySelector('.tagSelector');
        tagSelector.classList.toggle('hidden');
    });
</script>







{% endblock %}