{% extends 'base.html' %}

{% block title %}
profile
{% endblock %}

{% block content %}
<!-- content here -->


<div id="profileDiv">

    <div id="profileSection">
        <h2> {{user.get_name()}} </h2>

        <div id="userInfo">

            <img src="{{ user.get_pic() }}" alt="">


            <div id="btns"> 
                <button onclick="editUser('{{ user.id }}')">edit</button>
                <button onclick="removeUser('{{ user.id }}')">remove</button>
            </div>
            <script>
                function editUser(userId) {
                    window.location.href = `/users/${userId}/edit`;
                }
                        
                function removeUser(userId) {
                    if (confirm("Are you sure you want to delete this user?")) {
                        axios.post('/users/' + userId + '/delete')
                            .then(function (response) {

                                console.log(response);
                                window.location.href = "/users"; // Redirect or update UI as needed
                            })
                            .catch(function (error) {

                                console.error('Error:', error);
                            });
                    }
                }
            </script>
        </div>



    </div>


    <div id="userPost">
        <h2>Posts</h2>

        <div id="posts">
            <ul>
                {% if user.posts|length == 0 %}
                    <li>This user has no posts.</li>

                {% else %}
                    {% for post in user.posts %}
                        <li onclick="toPost('{{post.id}}')"> <a href="/posts/{{post.id}}">{{ post.title }}</a></li>
                    {% endfor %}
                {% endif %}



            </ul>
        </div>

        <button onclick="post('{{user.id}}')" >make post</button>
        <script>
            function toPost(id){
                window.location.href = `/posts/${id}`

            }


            function post(uid) {
                window.location.href = '/users/' + uid + '/post'
            }
        </script>
    </div>


</div>







{% endblock %}